@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Chi Siamo";
}
<h3>Cazzi</h3>
<p>@ViewBag.Messaggio</p>
<p>@ViewData["Messaggio"]</p>