@page
@model RazorVuoto.Pages.GalleryModel
@{
}
<table style="width:80vw;">
    <tr>
        <td><img src="~/img/1.jpg" /></td>
        <td><img src="~/img/2.jpg" /></td>
        <td><img src="~/img/4.jpg" /></td>
    </tr>
    <tr>    
        <td><img src="~/img/3.jpg" /></td>
        <td><img src="~/img/5.jpg" /></td>
        <td><img src="~/img/6.jpg" /></td>
    </tr>
</table>